<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="database" type="Wang.Velika.Utility.EdmExtension.DatabaseInformationSection, Utility.EdmExtension, PublicKeyToken=8fa0cf0b7bbf2958" />
  </configSections>

  <database provider="System.Data.SqlClient" connectionString="Data Source=(local);Initial Catalog=FamilyAccounting;Integrated Security=True"/>
</configuration>