<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="familyAccounting" type="Wang.Velika.FamilyAccounting.Application.Framework.Core.ApplicationSectionGroup, Application.Framework.Core, PublicKeyToken=80b0f217a73c275a">
      <section name="database" type="Wang.Velika.Utility.EdmExtension.DatabaseInformationSection, Utility.EdmExtension, PublicKeyToken=8fa0cf0b7bbf2958" />
    </sectionGroup>
  </configSections>

  <familyAccounting>
    <database provider="System.Data.SqlClient" connectionString="Data Source=(local);Initial Catalog=FamilyAccounting;Integrated Security=True"/>
  </familyAccounting>
</configuration>